$hue: 217;
$first-color: hsl($hue, 95% , 53%);
$first-color-alt: hsl($hue, 56%, 35%);
$title-color: hsl(228, 8%, 95%);
$text-color: hsl(228, 8%, 65%);
$body-color: hsl(228, 15%, 20%);
$container-color: hsl(228, 15%, 15%);
  
/* FONT */
$main-font: "Varela Round", serif;
$calculator-font: "Handjet", serif;
  
/* FONT WEIGHT */
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;